<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>about me</h1>
    <p>I am Zhanel</p>
    <p>I am 25 years old</p>
    <p>This me</p>
    <img src="ya.jpg" width="200px" height="200px">
    <p>I am aries</p>
    <div class="flex"> 
        <p>You can need me in:</p>
        <a href="https://vk.com/acutiest" target="_blank">My VK account</a>
    </div> 
</body>
</html>